body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f8f8;
    color: #333;
}

header {
   background: #5a1fa3;
    padding: 20px;
    text-align: center;
    color: white;
  
}



.categorias {
    display: flex;
    justify-content: center;
    gap: 10px;
    background: #eee;
    padding: 15px 0;
}

.categorias button {
    background: #5a1fa3;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.categorias button:hover {
    background: #42157a;
}

.cardapio {
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 0 15px;
}

.item {
    background: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    text-align: center;
}

.item img {
    width: 100%;
    border-radius: 8px;
}

.item h2 {
    margin: 10px 0 5px;
    font-size: 20px;
}

.item .desc {
    font-size: 14px;
    color: #555;
}

.item .preco {
    margin-top: 10px;
    font-weight: bold;
    color: #5a1fa3;
    font-size: 18px;
}

 .btn-carrinho {
            background: #28a745;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }
                .btn-carrinho:hover {
            background: #218838;
        }
        .carrinho-link {
            background: #ffc107;
            color: black;
            padding: 10px 15px;
            border-radius: 5px;
            text-decoration: none;
            margin-left: 60px;
            
            
        }
.mensagem-carrinho {
            position: fixed;
            top: 20px;
            right: 20px;
            background: #28a745;
            color: white;
            padding: 15px 20px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
            z-index: 1000;
            animation: fadeInOut 3s ease-in-out;
            max-width: 300px;
        }
        @keyframes fadeInOut {
            0% { opacity: 0; transform: translateY(-20px); }
            10% { opacity: 1; transform: translateY(0); }
            90% { opacity: 1; transform: translateY(0); }
            100% { opacity: 0; transform: translateY(-20px); }
        }

